<h1>Binary Tree With Your Own Data</h1>

<form method="post" >
<p>Enter the values that you want to draw on the binary tree. Enter one value per line.</p>
<textarea id="txtValues" name="txtValues" rows="20" cols="20"></textarea>
<br/>
<input id="btnSubmit" type="submit" value="Draw it!"></input>
</form>