<h1>Drawing Binary Trees</h1>
<p><img src="binarytree.png" alt="Binary Tree" align="right"/>
	This site shows a Ruby program to draw binary trees.</p>

<h2>See it in action...</h2>
<p>Draw a binary tree with 
	<a href="random/25">25</a>, 
	<a href="random/50">50</a>, 
	<a href="random/100">100</a>, 
	or <a href="random/250">250</a> random values.
</p> 

<h2>Source Code</h2>
<p>You can get the source code for this project from 
	<a href="https://github.com/hectorcorrea/binarytree" target="_blank">github</a>.</p>
	<p>The code is written in Ruby. Keep in mind that this is my first Ruby project and might not be the most Ruby-like project out there.</p>
	
<h2>More information?</h2>
<p>Drop me an e-mail at <a href="mailto:hector@hectorcorrea.com">hector@hectorcorrea.com</a> if you have any questions or need more information about this program</p>
