<h1>Drawing Binary Trees</h1>
<p><img src="binarytree.png" alt="Binary Tree" align="right"/>
	This site shows a Ruby program to draw binary trees.</p>

<h2>See it in action...</h2>
<p>Draw a binary tree with <a href="random/25">random data</a>.</p> 
<p>Draw a binary tree with your own data</p>

<h2>Source Code</h2>
<p>You can get the source code for this project from 
	<a href="https://github.com/hectorcorrea/binarytree" target="_blank">github</a>.</p>
	<p>The code is written in Ruby. Keep in mind that this is my first Ruby project and might not be the most Ruby-like project out there.</p>
